.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.video-container {
  display: flex;
}

.video-container > div {
  display: flex;
  width: 50%;
}

.video-container > div video {
  width: 100%;
}

.remote-container {
  display: flex;
  flex-direction: column;
}